@media(max-width: 767px) {

    body {
        margin: 15px 10px;
    }

    .responsive {
        display: block;
    }

    header {
        margin: 0;
    }

    span.logo {
        font-size: 25px;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .responsive > .menu {
        display: none;
    }

    .menu_ouvert {
        display: block;
    }

    .menu_ferme {
        display: none;
    }

    #leMenu {
        margin-top: 15px;
        padding: 0px;
        list-style: none;
        background-color: rgba(44, 34, 95, 0.445);
        border-radius: 3px;
        border: 1px rgba(255, 255, 255, 0.5) solid;
    }

    #leMenu  > li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #leMenu  > li:active {
        background-color: rgba(255, 255, 255, 0.5);
    }

    #leMenu > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    .btn_info {
        display: none;
    }

    .btn_menu {
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }

    main {
        display: block;
    }

    .infos {
        width: 100%;
    }

    .infos > h1 {
        font-size: 30px;
    }

    .carte {
        visibility: hidden;
    }

}