@media(max-width: 767px) {

    body {
        margin: 15px 10px;
    }

    .responsive {
        display: block;
    }

    header {
        margin: 0;
    }

    span.logo {
        font-size: 25px;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .btn_info {
        display: none;
    }

    .btn_menu {
        font-size: 35px;
        color: #fff;
    }

    main {
        display: block;
    }

    .infos {
        width: 100%;
    }

    .infos > h1 {
        font-size: 30px;
    }

    .carte {
        visibility: hidden;
    }

}