@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

html {
    margin: 0;
    padding: 0px;
}

body {
    background-color: #000f24;
    margin: 5px 150px;
}

h1, p, a, span.logo {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

hr {
    margin-top: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

span.logo {
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 1px 1px 10px rgb(97, 78, 189);
}

.menu {
    list-style: none;
    display: inherit;
}

.menu > li {
    margin: 0px 45px;
}

.menu > li > a {
    text-decoration: none;
}

.bouton {
    text-decoration: none;
    padding: 14px 45px;
    border: 1px solid rgba(205, 211, 215, 0.5);
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.1);
}

.btn_info {
    background-color: rgb(66, 52, 135);
}

.btn_info:hover {
    background-color: rgb(44, 34, 95);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.1);
    transition: 1s;
}

main {
    display: flex;
    justify-content: space-between;
}

.infos {
    width: 40%;
}
.infos > h1{
    width: 70%;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 1px 1px 100px #fff;
}

.text_bleu {
    color: rgb(97, 78, 189);
}

.infos_para {
    display: flex;
    justify-content: space-between;
}

.infos_para > p {
    font-weight: 300;
    margin-right: 20px;
}

.clients {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}

.clients > img {
    cursor: pointer;
    height: 65px;
    filter: drop-shadow(0px 0px 0px) invert(50%);
}

.responsive {
    display: none;
}



